@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* --accent-color: rgb(0, 206, 9); */
  --accent-color: #9aeb94;
  --color-transition-time: 0.1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  background: none;
}

li {
  list-style-type: none;
}
/* ==== HEADER ==== */
header {
  height: auto;
  /* z-index: 500; */
  position: fixed;
  width: 100vw;
  padding-top: 1rem;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.inner-header {
  /* background: cyan; */
  /* border-bottom: solid black 2px; */
  width: calc(50% + 2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  overflow-y: visible;
  justify-content: flex-end;
  background: none;
}

#nav-menu-mobile {
  display: none;
}

.website-title-container {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.website-title-container h1 {
}

.website-title,
.website-subtitle {
  /* z-index: 1; */
  /* font-size: 7vw; */
  /* color: invert(100%); */

  color: black;
  padding-bottom: 0.5rem;
}

.website-title {
  font-size: 2rem;
}

.nav-text {
  padding-bottom: 0.75rem;
}

.nav-button {
  /* remove default style */
  background-color: transparent;
  border: none;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  /* style button */
  text-decoration: underline;
  cursor: pointer;
  transition: background-color 0.25s;
  color: black;
}

.nav-button:hover {
  background-color: var(--accent-color);
}

.nav-text a:visited {
  color: black;
}

/* about section */

#website-about-section-container {
  display: block;
  width: 80%;
  display: block;
  height: 0px;
  overflow: hidden;
  transition: height 0.75s;
  z-index: 5000;
  background: rgba(255, 255, 255, 1);
}

.website-about-section {
  position: relative;
  height: 0px;
  transition: all 1s;
  overflow: hidden;
  /* direction: rtl; */
  text-align: left;
  padding-left: 1rem;
}

.website-about-section-open {
  height: 60vh !important;
  /* overflow-y: visible !important; */
  /* overflow: scroll; */
}

#about-section-body p {
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

/* project drop down */

#website-projects-dropdown-container {
  position: relative;
  width: 35vw;
}

#website-projects-dropdown-button-homepage h1 {
  color: black;
  font-size: 1.5rem;
}

#website-projects-dropdown-button,
#website-projects-dropdown-button-homepage,
#website-projects-dropdown-content li {
  /* position: relative; */
  z-index: 5;
  margin: 0;
  text-align: right;
  width: 100%;
  border: none;
  box-shadow: none;
  background: none;
  border-bottom: 2px solid black;
  padding-right: 3rem;
  padding-top: 0.5rem;
}

#website-projects-dropdown-button a,
#website-projects-dropdown-button-homepage a,
#website-projects-dropdown-content a {
  /* position: relative; */
  margin: 0;
  text-align: right;
  width: 100%;
  border: none;
  text-decoration: none;
}

#website-projects-dropdown-button-homepage h1 sup {
  font-weight: normal;
  font-size: 0.75rem;
}

#website-projects-dropdown-button:hover,
#website-projects-dropdown-content li:hover {
  background: var(--accent-color);
  border-bottom: 2px solid black;
}

#website-projects-dropdown-button a,
#website-projects-dropdown-content a {
  text-decoration: none;
  color: black;
  text-align: right;
  font-size: 1.5rem;
  list-style-type: none;
  width: 100%;
}

#website-projects-dropdown-button a:visited,
#website-projects-dropdown-content a:visited {
  text-decoration: none;
  color: grey;
}

#website-projects-dropdown-button a sup,
#website-projects-dropdown-content a sup {
  font-size: 0.8rem;
}

#website-projects-dropdown-content {
  border: none;
  position: absolute;
  width: 100%;
  background-color: white;
}

/* project image overlay */

#project-img-overlay-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65vw;
  height: 80vh;
  display: flex;
  z-index: 0;
}

.project-img-overlay {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.project-img-overlay img {
  /* background-color: white; */
  max-width: 100%;
  max-height: 100%;
}

/* mobile portrait + landscape */
@media only screen and (max-width: 767px) {
  html {
    font-size: 10px;
  }
  header {
    /* position: sticky; */
    flex-direction: column;
    width: 100%;
    background: white;
    height: auto;
    /* padding-top: 2rem; */
    /* height: auto; */
  }

  .inner-header {
    /* height: 20vh; */
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
  }

  .nav-text {
    word-wrap: normal;
    text-align: left;
  }
  #website-projects-dropdown-container {
    width: 100%;
    text-align: left;
  }

  #website-projects-dropdown-content {
    display: inline;
    width: 100%;
    overflow-y: scroll;
    padding: 0;
    padding-left: 2rem;
    padding-right: 1.5rem;
  }

  #website-projects-dropdown-button a,
  #website-projects-dropdown-button-homepage {
    padding-left: 2rem;
  }

  #website-projects-dropdown-button a,
  #website-projects-dropdown-button-homepage,
  #website-projects-dropdown-content li a {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-right: 2rem;
  }

  .prj-list-title {
    padding: 0;
  }

  #project-img-overlay-container {
    display: none;
  }
}

/* tablets + small desktop */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    min-height: 10vh;
  }

  .inner-header {
    height: auto;
    position: fixed;
    top: 0px;
    width: 80%;
    /* background: cyan; */
  }

  #website-projects-dropdown-container {
    position: absolute;
    top: calc(20vh - 3rem / 2);
    right: 0px;
    width: 40vw;
  }
}
