@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* --green-color: rgb(0, 206, 9); */
  --green-color: rgb(0, 230, 0);
  --color-transition-time: 0.1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  background: none;
}

/* ==== HEADER ==== */
header {
  z-index: 500;
  position: absolute;
  width: 100vw;
  margin-top: 2vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background: none;
  /* background: red; */
}

.inner-header {
  /* border-bottom: solid black 2px; */
  width: calc(50% + 2px);
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  overflow-y: visible;
  justify-content: flex-end;
}

#nav-menu-mobile {
  display: none;
}

.website-title-container {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.website-title,
.website-subtitle {
  /* z-index: 1; */
  /* font-size: 7vw; */
  color: invert(100%);
  padding-bottom: 0.5rem;
}

.website-title {
  font-size: 2rem;
}

.nav-text {
  /* height: 3rem; */
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.75rem;
}

.nav-button {
  /* remove default style */
  background-color: transparent;
  border: none;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  /* style button */
  text-decoration: underline;
  cursor: pointer;
  transition: background-color 0.25s;
  color: black;
}

.nav-button:hover {
  background-color: var(--green-color);
}

.nav-text a:visited {
  color: black;
}

.website-about-section {
  position: absolute;
  height: 0px;
  transition: all 1s;
  overflow: hidden;
  /* direction: rtl; */
  text-align: left;
  padding-left: 1rem;
}

.website-about-section-open {
  height: 60vh;
  overflow-y: visible !important;
  /* overflow: scroll; */
}

.project-img-overlay {
  width: 50vw;
  height: 70vh;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-img-overlay img {
  /* background-color: white; */
  max-width: 100%;
  max-height: 100%;
}

/* 
.nav-menu-btn {
  cursor: pointer;
  outline: inherit;

  padding: 1%;
  width: 100%;
  color: black;
  border: none;

  border-top: solid black 2px;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 1rem;
  transition: background-color var(--color-transition-time);
  background-image: linear-gradient(
    to bottom,
    white 50%,
    var(--green-color) 50%
  );
  background-position: 0 -15%;

  transition: background-position var(--color-transition-time);
  background-size: 100% 200%;
  -webkit-transition: background-position var(--color-transition-time);
  -moz-transition: background-position var(--color-transition-time);
} */

/* .nav-menu-btn:hover {
  background-color: var(--green-color);
  background-color: rgba(0, 0, 0, 1);
  color: black;
  background-position: 0 -100%;
  animation: none;
} */

/* .nav-menu-btn-animating {
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

#nav-menu-abt-btn {
  border-right: solid black 2px;
  border-left: solid black 2px;
} */

/* Project list */

/* #website-projects-list-container {
  width: 25vw;
  position: fixed;
  right: 0px;
  top: calc(17vh - 1.5rem);
}

#website-projects-list-container ul li {
  border-bottom: solid black 1px;
  padding-right: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#website-projects-popup {
  width: 25vw;
} */

/* .prj-list-title {
  padding: 0.2vw;
  text-align: right;
  font-size: 1.5rem;
  list-style-type: none;
}

.prj-list-title a {
  text-decoration: none;
  color: black;
}

.prj-list-title:hover {
  text-align: right;
  font-size: 1.5rem;
  background-color: var(--green-color);
  cursor: pointer;
} */

/* project drop down */

#website-projects-dropdown-container {
  position: relative;
  /* display: inline-block; */
  width: 30vw;
}

#website-projects-dropdown-button,
#website-projects-dropdown-button-homepage,
#website-projects-dropdown-content li {
  /* padding: 0.2vw; */
  position: relative;
  z-index: 5;
  margin: 0;
  text-align: right;
  height: 3rem;
  width: 100%;
  border: none;
  box-shadow: none;
  background: none;
  border-bottom: 2px solid black;
  transform: translateY(2px);
  padding-right: 3rem;
}

#website-projects-dropdown-button-homepage h1 sup {
  font-weight: normal;
  font-size: 0.75rem;
}

#website-projects-dropdown-button:hover,
#website-projects-dropdown-content li:hover {
  background: var(--green-color);
  border-bottom: 2px solid black;
}

#website-projects-dropdown-button a,
#website-projects-dropdown-content li a {
  text-decoration: none;
  color: black;
  text-align: right;
  font-size: 1.5rem;
  list-style-type: none;
  height: 3rem;
  width: 100%;
}

#website-projects-dropdown-button a:visited,
#website-projects-dropdown-content li a:visited {
  text-decoration: none;
  color: grey;
}

#website-projects-dropdown-button a sup,
#website-projects-dropdown-content li a sup {
  font-size: 0.8rem;
}

#website-projects-dropdown-content {
  position: absolute;
  width: 100%;
  background-color: white;
}
