*{
margin:0;
padding:0;
font-family: sans-serif
}

header{
    /* z-index:999; */
    
    background-color:rgba(50,50,50,0.95); 
    color:white;
    padding:1%;
 padding-left:3%;
    /* height:5vh; */
    top:0px;
    position:sticky;
}

h2{ 
font-size:100%;
}
menu {
    position:fixed;
    left:2%;
    z-index:-1;
    padding:1%;
    background-color:white;
    max-width:20%;
    height:100vh;
}


.website-pages-cluster{
    padding-top:5%; 
    padding-bottom:inherit;
}

menu h3 { 
    padding: 1.5%;
}

menu li{
    list-style-type:none;
    vertical-align:baseline;
    padding-top:0.5%;
    padding-bottom:0.5%;
}

menu a{
    padding: 1.5%;
}

menu .website-pages-cluster a:link{
text-decoration:none;
color:rgb(0,0,0);
transition: all 1s ease-out;
}
menu .website-pages-cluster a:visited{
color:black;
}
menu .website-pages-cluster a:hover{
    background-color:rgba(50,50,50,0.95);
    color:white;
}
menu .website-pages-cluster a:active{
background-color:rgba(50,50,50,0.95);
color:white;
}

menu a span {
    font-size:70%;
    text-decoration: wavy;
}

#social-media-links{
    display:flex;
    padding:3%;
}

#social-media-links li{ 
padding:2%;
}

.projects {
position:absolute;
width:70%;
right:0px;
margin:2%;
}

.projectsHeader{ 
   display:flex; 
   align-items:baseline; 
}

.projectsHeader h4{ 
    font-size: 70%;
}
