*{
margin:0;
padding:0;
font-family: sans-serif
}

header{
    display:flex;
    background-color:rgba(50,50,50,0.95); 
    color:white;
    padding:1%;
    /* height:5vh; */
    top:0px;
    position:sticky;
    justify-content:space-between;
}

h2{ 
font-size:100%;
}

.navigationWindow{
    width:100%;
    display:inline-flex; 
}   

.menu {
    padding:1%;
    background-color:white;
    width:15vw;
    height:100vh;
}

.website-pages-cluster{
    padding-top:5%; 
    padding-bottom:inherit;
}

.menu h3 { 
    padding: 1.5%;
}

.menu li{
    list-style-type:none;
    vertical-align:baseline;
    padding-top:0.5%;
    padding-bottom:0.5%;
}

.page-button {
    padding:1.5%;
    text-decoration:none;
    color:rgb(0,0,0);
    transition: all 1s ease-out;
    border-style:none;
    background:none;
    cursor:pointer;
    padding-right:30%;
    margin:auto;
    text-align:left;
    font-size:90%;
    width:100%;
}

.info-button{ 
    font-size:110%;
  
}

.page-button:hover{
    background-color:rgba(50,50,50,0.95);
    color:white;
}


.page-button span {
    font-size:70%;
}

#social-media-links{
    display:flex;
    padding:3%;
}

#social-media-links li{ 
padding:2%;
}

/* .article-window{
    overflow:hidden;
} */

.page {
    width:70%;
    /* background-color:pink; */
    display:flex;
    flex-wrap:wrap;
    /* justify-content:center; */
}

.projectsHeader{
    padding-left:3%;
    padding-top:3%;
}

.projectDescriptions{
    display:flex;
}

.projectDescriptionsSection{
    padding:2%;
}

.projectDescriptionsSection p{
    margin-bottom:1.5%;
}

.boldParagraph{
    font-weight:bold;
}

.page .coverImg {
    /* width:100%; */
align-self:center;
}

.page .coverImg img{
    height:80vh;
    margin:auto;
    padding:auto;
}
