:root {
  /* --green-color: rgb(0, 206, 9); */
  --green-color: rgb(0, 230, 0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: var(--green-color);
  overflow: hidden; /* Hide scrollbars */
}

::selection {
  background-color: var(--green-color);
  /* color: var(--green-color); */
}

header {
  width: 40vw;
  min-width: 600px;
  min-height: 15vh;
  background-color: white;
  z-index: 10;
  position: fixed;
  top: 1vw;
  left: 1vw;
  display: grid;
  border: solid black 2px;
  outline: solid white 0.5px;
}

#nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-self: flex-end;
}

#website-title,
#website-subtitle {
  padding: 1%;
}

.nav-menu-btn {
  cursor: pointer;
  outline: inherit;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  width: 100%;
  color: black;
  border: none;
  /* border: solid black 2px; */
  border-top: solid black 2px;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 1rem;
  transition: background-color 0.1s;
}

.nav-menu-btn:hover {
  background-color: var(--green-color);
}
#nav-menu-abt-btn {
  border-right: solid black 2px;
  border-left: solid black 2px;
}

.website-popup {
  min-width: 20%;
  max-width: 40%;
  min-height: 30vh;
  background-color: white;
  z-index: 3;
  position: fixed;
  cursor: move;
  border: solid black 2px;
  outline: solid white 0.5px;
  overflow: hidden;
  resize: both;
}

.popup-closed {
  display: none;
}

.website-popup-header {
  height: 5vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
.website-popup-close-btn {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border: inset 2px white;
  background-color: white;
  color: black;
}

.website-popup-close-btn:hover {
  background-color: var(--green-color);
  border: inset 2px var(--green-color);
  cursor: pointer;
}

.website-popup-header-title {
  color: white;
  background-color: black;
  font-weight: bold;
}

.website-popup-body p {
  width: 100%;
  padding: 2%;
}

.prj-popup-title {
  padding: 0.2vw;
  text-align: right;
  font-size: 1.5rem;
}

.prj-popup-title a {
  text-decoration: none;
  color: black;
}

.prj-popup-title a:visited {
  text-decoration: none;
  color: grey;
}

.prj-popup-title:hover {
  text-align: right;
  font-size: 1.5rem;
  background-color: var(--green-color);
  cursor: pointer;
}

.prj-popup-title sup {
  font-size: 0.8rem;
}
/* map */
#map {
  width: 200vw;
  height: 200vh;
  background-color: black;
  position: absolute;
  z-index: 0;
  border: 1px solid #d3d3d3;
  text-align: center;
  cursor: grab;
  transform-origin: center;
  left: -50%;
  top: -50%;
}
