@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* --green-color: rgb(0, 206, 9); */
  --green-color: rgb(0, 230, 0);
  --color-transition-time: 0.1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body {
  background-color: var(--green-color);
  /* overflow: hidden; Hide scrollbars */
}

::selection {
  background-color: var(--green-color);
  /* color: var(--green-color); */
}

/* ==== HEADER ==== */
header {
  width: 40vw;
  min-width: 600px;
  min-height: 15vh;
  background-color: white;
  z-index: 2;
  position: fixed;
  top: 1vw;
  left: 1vw;
  display: grid;
  border: solid black 2px;
  outline: solid white 0.5px;
}

.website-title-container {
  cursor: pointer;
}

#nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-self: flex-end;
}

.website-title,
.website-subtitle {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.nav-menu-btn {
  cursor: pointer;
  outline: inherit;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  width: 100%;
  color: black;
  border: none;
  /* border: solid black 2px; */
  border-top: solid black 2px;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 1rem;
  transition: background-color var(--color-transition-time);
}

.nav-menu-btn:hover {
  background-color: var(--green-color);
}
#nav-menu-abt-btn {
  border-right: solid black 2px;
  border-left: solid black 2px;
}

/* === WEBSITE POPUP GENERAL === */
.website-popup {
  min-width: 20%;
  max-width: 40%;
  min-height: 30vh;
  background-color: white;
  z-index: 3;
  position: fixed;
  cursor: move;
  border: solid black 2px;
  outline: solid white 0.5px;
  overflow: hidden;
  resize: both;
}

.popup-closed {
  display: none;
}

.website-popup-header {
  height: 2rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
.website-popup-close-btn {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border: inset 2px white;
  background-color: white;
  color: black;
}

.website-popup-close-btn:hover {
  background-color: var(--green-color);
  border: inset 2px var(--green-color);
  cursor: pointer;
}

.website-popup-header-title {
  color: white;
  background-color: black;
  font-weight: bold;
}

.website-popup-body {
  width: 100%;
  /* display: flex; */
}
/* PROJECT popup */

#website-projects-popup {
  width: 25vw;
}

.prj-popup-title {
  padding: 0.2vw;
  text-align: right;
  font-size: 1.5rem;
}

.prj-popup-title a {
  text-decoration: none;
  color: black;
}

.prj-popup-title a:visited {
  text-decoration: none;
  color: grey;
}

.prj-popup-title:hover {
  text-align: right;
  font-size: 1.5rem;
  background-color: var(--green-color);
  cursor: pointer;
}

.prj-popup-title sup {
  font-size: 0.8rem;
}

/* ABOUT popup */

/* img */

#website-img-popup {
  width: 25vw;
}
#about-img {
  width: 100%;
  margin: 0 auto;
}

/* CONTACT popup */
#website-contact-popup,
#website-instagram-popup {
  width: 15vw;
}

#contact-popup-body,
#ig-popup-body {
  width: 75%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  /* width: 10vw; */
  flex-direction: column;
  margin: 0 auto;
}

.contact-image-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-popup-body img,
#ig-popup-body img {
  padding: 5%;
  width: 75%;
  margin: auto 0;
}

/* #ig-popup-body img:hover,
#contact-popup-body img:hover {
  border-radius: 40px;
  background-color: var(--green-color);
} */

.contact-link {
  text-align: center;
  /* margin: 0 auto; */
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 1%;
  padding-top: 3%;
}

.contact-link:hover {
  background-color: var(--green-color);
  outline: solid black 2px;
}

#contact-email-copy-section {
  padding-bottom: 5%;
}

#contact-email-copy-section button {
  width: 100%;
  border: black solid 2px;
  transition: background-color var(--color-transition-time);
}

#contact-email-copy-section button:hover {
  background-color: var(--green-color);
}

#contact-email-copy-section button:hover {
  cursor: pointer;
}
/* email */
#email-tooltip {
  position: relative;
  display: inline-block;
}

#email-tooltip #tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 4;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

#email-tooltip #tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#email-tooltip:hover #tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* ig */

/* map */
#map {
  width: 200vw;
  height: 200vh;
  background-color: black;
  position: absolute;
  z-index: 0;
  border: 1px solid #d3d3d3;
  text-align: center;
  cursor: grab;
  transform-origin: center;
  left: -50%;
  top: -50%;
}
