@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --darkModeAnimationTime: 0.4s;
}

* {
  font-family: "Atkinson Hyperlegible", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#page-container {
  display: flex;
  background-color: lime;
}

/* Affects the entire page */
#page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.4s;
  -webkit-transition: 0.4s;
}

/* ======== MENU ======== */
#menu {
  /* position:absolute;  */
  width: 20%;
  height: 100%;
  border-right: 1.5px black solid;
}

#menu-subsection.menu-subsection-closed {
  width: 0%;
}
#menu-subsection.menu-subsection-opened {
  width: 20%;
}

/* Affectes all the titles from home screen */
.titles h1 {
  font-weight: 700;
  /* font-size: 7.5rem; */
  /* font-size: 5vh; */
  /* line-height: 8rem; */
  margin: 0;
}

/* ==== TITLES css ====  */
/* light mode */
.light-mode.titles {
  /* background-color: rgba(0, 0, 0, 0); */
  background-image: linear-gradient(to left, black 50%, white 50%);
  color: rgb(0, 0, 0);
  transition: all 0.2s ease-in;
  background-size: 200% 100%;
  -webkit-transition: background-position 0.4s;
  -moz-transition: background-position 0.4s;
}
/* light mode hover */
.light-mode.hovering-titles:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  background-position: -100% 0;
}
/* Dark mode */
.dark-mode.titles {
  background-image: linear-gradient(to left, white 50%, black 50%);
  transition: all 0.2s ease-in;
  background-size: 200% 100%;
  -webkit-transition: background-position 0.4s;
  -moz-transition: background-position 0.4s;
  color: rgb(255, 255, 255);
}
/* dark mode hover */
.dark-mode.hovering-titles:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-position: -100% 0;
}

/* ==== SUBSECTION css ==== */

.subsection {
  height: 0vh;
  transition: height 0.4s ease-in;
}

.subsection-opened {
  height: 20vh;
}

/* ==== DARK MODE TOGGLE ==== */
/* dark mode toggle button CSS (w3 school) */
/* dark mode button */
#dark-mode-toggle-btn {
  position: fixed;
  z-index: 500;
  right: 1%;
  top: 2vh;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 3px white;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: white;
}
input:focus + .slider {
  box-shadow: 0 0 2px black;
}
input:checked + .slider:before {
  background-color: black;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
