/* Atkinson typeface, Braille Institute: https://brailleinstitute.org/freefont */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Noto serif */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* Root variables */
:root {
  font-family: "Atkinson Hyperlegible", Helvetica, sans-serif;

  /* color mixing*/
  --color-hue: 116;
  --color-saturation: 95%;
  --color-brightness-dark: 10%;
  --color-brightness-dark-medium: 35%;
  --color-brightness-medium: 60%;
  --color-brightness-medium-light: 60%;
  --color-brightness-light: 99%;
  --color-dark: hsl(
    var(--color-hue),
    var(--color-saturation),
    var(--color-brightness-dark)
  );
  --color-dark-medium: hsl(
    var(--color-hue),
    var(--color-saturation),
    var(--color-brightness-dark-medium)
  );
  --color-medium: hsl(
    var(--color-hue),
    var(--color-saturation),
    var(--color-brightness-medium)
  );
  --color-medium-light: hsl(
    var(--color-hue),
    var(--color-saturation),
    var(--color-brightness-medium-light)
  );
  --color-light: hsl(
    var(--color-hue),
    var(--color-saturation),
    var(--color-brightness-light)
  );

  /* --accent-color: #9aeb94; */
  --accent-color: var(--color-medium-light);

  /* color shading */
  --accent-color-box-shadow: 0px 0px 0px 10px var(--accent-color);
  --accent-color-transition-duration: 0.1s;
  --text-color: var(--color-dark);
  --text-color-inverted: var(--color-light);
  --box-border: 1px solid var(--color-dark-medium);

  /* typography */
  --heading-font-family: "Noto Serif", Times, "Times New Roman", serif;

  /* sizing */
  font-size: 10px;
  /* p-size unless otherwise specified */
  --p-size: clamp(1rem, 0.956vw + 0.694rem, 2rem);
  --h1-size: clamp(5rem, 8.604vw + 2.247rem, 14rem);
  --h2-size: clamp(3rem, 2.868vw + 2.082rem, 6rem);
  --h3-size: clamp(2.2rem, 0.287vw + 2.108rem, 2.5rem);
  --h4-size: clamp(1rem, 0.956vw + 0.694rem, 2rem);
  --h5-size: clamp(1rem, 0.956vw + 0.694rem, 2rem);
  --menu-font-size: clamp(1.5rem, 0.956vw + 1.194rem, 2.5rem);
  --menu-font-size-hover: clamp(3rem, 2.868vw + 2.082rem, 6rem);
  --button-font-size: clamp(1.5rem, 0.956vw + 1.194rem, 2.5rem);
  --figcaption-font-size: calc(var(--p-size) / 3 * 2);
  --sup-font-size: 0.5em;
  --header-height: 12vh;
  /* --header-height: */

  /* grids */
  --grid-1-col: repeat(1, minmax(0, 1fr));
  --grid-2-col: repeat(2, minmax(0, 1fr));
  --grid-3-col: repeat(3, minmax(0, 1fr));
  --grid-2-col-sidebar: repeat(1, minmax(0, 2fr)) repeat(1, minmax(0, 3fr));
  --grid-2-col-sidebar-right: repeat(1, minmax(0, 3fr))
    repeat(1, minmax(0, 2fr));
  --grid-2-col-sidebar-reverse: repeat(1, minmax(0, 3fr))
    repeat(1, minmax(0, 2fr));
  --grid-4-col: repeat(4, minmax(0, 1fr));
  --dynamic-grid-transition-time: 700ms;

  /* spacing */
  --section-gutter: clamp(2rem, 2.868vw + 1.082rem, 5rem);
  --inline-grid-gap: clamp(2.5rem, 31.071vw + -7.443rem, 3.5rem);
  --block-grid-gap: clamp(3rem, 2.008vw + 2.358rem, 5.1rem);
  --inner-padding-large: 1.5em;
  --inner-padding: 0.5em;
  --button-padding: var(--inner-padding);
}

/* Global styling */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-moz-selection {
  background: var(--accent-color);
}

::selection {
  background: var(--accent-color);
}

html {
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

header {
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
  align-items: center;
  align-content: center;
  /* padding-inline: var(--section-gutter); */
  background: none;
  outline: var(--box-border);
  height: var(--header-height);
  transition: var(--dynamic-grid-transition-time);
}

/* body[page="project"] header {
  --header-height: 10vh;
}

body[page="project"] header:hover {
  --header-height: 15vh;
} */

#website-title {
  text-decoration: none;
  transition: var(--dynamic-grid-transition-time);
  transform: translateY(0);
}

#website-title-grid {
  padding-left: var(--section-gutter);
  width: min-content;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
  transition: var(--dynamic-grid-transition-time);
}

.website-title-name {
  width: 0%;
  overflow: hidden;
}

.website-title-initial:hover + .website-title-name {
  width: 100%;
  overflow: visible;
}

#project-container:has(#project-sidebar:hover) {
  grid-template-columns: 3fr 2fr;
}

nav {
  margin-left: 1px;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

nav a,
nav a button {
  transition: height var(--dynamic-grid-transition-time);
  height: var(--header-height);
  width: 100%;
  white-space: nowrap;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: var(--box-border);
  transition: var(--accent-color-transition-duration);
}

nav a button {
  transition: var(--accent-color-transition-duration);
}

nav a:hover {
  text-decoration: none;
}

nav a:hover > button {
  width: 50%;
  min-width: min-content;
  height: 50%;
  min-height: max-content;
  background: white;
  text-decoration: none;
}

nav a:hover {
  background: var(--accent-color);
  /* border: inset var(--inner-padding-large) var(--color-dark-medium); */
  text-decoration: none;
}

footer {
  height: 20vh;
}

body {
  background: var(--color-light);
}

/* SECTIONS */
section {
  margin-inline: var(--section-gutter);
  /* margin-bottom: var(--section-gutter); */
}

.section-inner-container {
  border-top: var(--box-border);
  padding-bottom: 5rem;
}
/* homepage sections */
#hero {
  margin: 0;
  height: 100vh;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  position: relative;
  z-index: 2;
  background: white;
  order: -1;
}

#hero__title-container {
  position: absolute;
  bottom: 0px;
}

#homepage {
  scroll-snap-align: end;
  min-height: 100vh;
  margin: 0;
}

/* FONTS */

/* heading 1 */
h1 {
  color: var(--text-color);
  font-size: var(--h1-size);
  transition: text-shadow;
  transition-duration: var(--accent-color-transition-duration);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-weight: 400;
}
h1:hover {
  text-shadow: var(--accent-color-box-shadow);
}

/* heading 2 */
h2 {
  color: var(--text-color);
  font-size: var(--h2-size);
  font-weight: 400;
  /* font-family: var(--heading-font-family); */
  transition: text-shadow;
  transition-duration: var(--accent-color-transition-duration);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
h2:hover {
  text-shadow: var(--accent-color-box-shadow);
}

/* heading 3 */
h3 {
  color: var(--text-color);
  font-size: var(--h3-size);
  font-weight: normal;
  font-style: italic;
  /* font-variant: small-caps; */
}

/* heading 4 */
h4 {
  color: var(--text-color);
  font-size: var(--h4-size);
}

h5 {
  color: var(--text-color);
  font-size: var(--h5-size);
  font-weight: normal;
}

figcaption {
  color: var(--text-color);
  font-size: var(--figcaption-font-size);
}

/* link */
a {
  font-weight: normal;
  color: var(--text-color);
  text-decoration: none;
}

#homepage-menu a {
  font-weight: normal;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* paragraph */
p {
  color: var(--text-color);
  font-size: var(--p-size);
  padding-bottom: 1em;
  padding-right: 2em;
}

.rich-text {
  padding-bottom: 0px;
}

/* span */
span {
  background-color: var(--color-dark-medium);
  color: var(--color-light);
  padding-inline: 0.2em;
  transition: background-color;
  transition-duration: var(--accent-color-transition-duration);
  text-wrap: nowrap;
}
span a {
  color: var(--color-light);
}

span:hover {
  background-color: var(--color-medium-light);
}

sup {
  font-size: var(--sup-font-size);
  font-weight: normal;
  margin-left: var(--inner-padding);
}

.indent-list {
  font-size: var(--p-size);
  padding-left: 1em;
}

li {
  color: var(--text-color);
  list-style-type: none;
  font-size: var(--p-size);
  padding-bottom: var(--inner-padding);
  margin-right: var(--inner-padding-large);
}

code {
  color: var(--text-color);
  background-color: var(--color-medium-light);
  font-size: calc(var(--p-size) / 2);
  padding: var(--inner-padding);
  border-radius: 0.5em;
}

/* == COMPONENTS == */

/* images */

figure img,
figure video,
figure figcaption {
  max-width: 100%;
  max-height: 100%;
}

.img-container {
  max-height: 80vh;
}

.img-container img {
  height: 100%;
}

/* GRIDS */

.grid-1-col {
  display: grid;
  grid-template-columns: var(--grid-1-col);
  gap: var(--inline-grid-gap);
}

.grid-2-col {
  display: grid;
  grid-template-columns: var(--grid-2-col);
  gap: var(--inline-grid-gap);
}

.grid-2-col-sidebar {
  display: grid;
  grid-template-columns: var(--grid-2-col-sidebar);
  /* gap: var(--inline-grid-gap); */
}

.grid-2-col-sidebar-reverse {
  display: grid;
  grid-template-columns: var(--grid-2-col-sidebar-reverse);
  /* gap: var(--inline-grid-gap); */
}

.grid-3-col {
  display: grid;
  grid-template-columns: var(--grid-3-col);
  gap: var(--inline-grid-gap);
  /* border: var(--box-border); */
}

.grid-4-col {
  display: grid;
  grid-template-columns: var(--grid-4-col);
  gap: var(--inline-grid-gap);
  grid-auto-rows: 20vh;
}

.grid-5-col {
  display: grid;
  grid-template-columns: var(--grid-5-col);
  gap: var(--inline-grid-gap);
}

/* CTA */
/* button */
button {
  padding: var(--button-padding);
  text-decoration: none;
  transition: box-shadow var(--accent-color-transition-duration);
  border-style: none;
  background: none;
  cursor: pointer;
  margin: auto;
  text-align: center;
  font-size: 90%;
  /* width: 100%; */
  outline: var(--box-border);
  color: var(--text-color);
  font-size: clamp(1rem, 0.956vw + 0.694rem, 2rem);
}
button:hover {
  cursor: pointer;
}

/* form */
form {
  /* display: flex; */
}

form input {
  font-size: var(--p-size);
  border: none;
  border-bottom: var(--box-border);
  padding: 0;
  margin: 0;
  padding-bottom: var(--button-padding);
  background: none;
  transform: translateX(5%);
}

form input:focus {
  outline: none;
  border: none;
  border-bottom: var(--box-border);
}

/* menu */
menu {
}

menu a {
  width: 100%;
  display: flex;
  text-decoration: none;
  font-size: var(--menu-font-size);
  transition: var(--dynamic-grid-transition-time);
  padding-block: 0.1em;
}

menu a:hover {
  text-decoration: none;
}

body[page="homepage"] menu a:hover {
  font-size: var(--menu-font-size-hover);
}

menu li {
  list-style-type: none;
  font-size: inherit;
  height: min-content;
  width: 100%;
  padding: 0;
  margin: 0;
}

body[page="homepage"] menu li {
  box-shadow: 0 1.25px 0 var(--color-dark-medium);
}

/* scrollbar */
/* ===== Scrollbar CSS ===== */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-dark-medium);
}

/*  */

/* == add-ons == */

.flex-centered-left-align {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sticky-sidebar {
  position: sticky;
  top: 0px;
}

/* == Media queries == */

/* Very Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  .grid-4-col {
    grid-template-columns: var(--grid-2-col);
  }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  .grid-2-col {
    grid-template-columns: var(--grid-1-col);
  }
  .grid-4-col {
    grid-template-columns: var(--grid-2-col);
  }
}

/*  Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  :root {
    --header-height: 10vh;
  }
  .grid-2-col-sidebar {
    grid-template-columns: var(--grid-1-col);
  }
  .grid-4-col {
    grid-template-columns: var(--grid-1-col);
  }
  nav a,
  nav a button {
    height: 100%;
  }
}

/* == PATTERNS == */

/* homepage */
#homepage-project-grid {
  margin-left: 1px;
  padding-top: var(--header-height);
  /* margin-right: var(--section-gutter); */
}

#homepage-thumbnail-grid {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 30vh);
  /* gap: var(--inline-grid-gap); */
  transition: var(--dynamic-grid-transition-time);
}

#homepage-thumbnail-grid > * {
  padding: var(--inner-padding-large);
  outline: 1px solid var(--color-dark-medium); /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
  width: 100%;
}

/* make last items span all remaining grid spaces */
#homepage-thumbnail-grid > *:nth-child(4n-1):nth-last-of-type(1) {
  grid-column: span 2;
}

#homepage-thumbnail-grid > *:nth-child(4n-2):nth-last-child(1) {
  grid-column: span 3;
}

#homepage-thumbnail-grid > *:nth-child(4n-3):nth-last-child(1) {
  grid-column: span 4;
}

/* -- */
#homepage-thumbnail-grid a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* filter: blur(5px); */
}

#homepage-menu {
  margin: 0;
  width: 100%;
  position: sticky;
  top: var(--header-height);
  height: min-content;
  border-top: var(--box-border);
}

#homepage-menu li {
  padding-left: var(--section-gutter);
  cursor: pointer;
}

#about-section figure {
  position: sticky;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  padding-block: 10vmin;
  width: auto;
}

#about-section img {
  height: 100%;
}

/* project page patterns */

#project-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  transition: var(--dynamic-grid-transition-time);
}

#project-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: var(--header-height);
  padding-inline: var(--section-gutter);
  width: 100%;
  transition: 300ms;
  row-gap: var(--inline-grid-gap);
  outline: var(--box-border);
  overflow: scroll;
  position: sticky;
  top: var(--header-height);
}

#project-menu__container {
  transform-origin: bottom left;
  position: sticky;
  top: -5vh;
  margin: 0;
}

#project-title {
  height: 5vh;
  cursor: pointer;
  box-shadow: 0px 1px 0px 0px var(--color-dark-medium);
  display: flex;
  align-items: flex-end;
}

#project-title-arrow {
  padding: 0;
  margin: 0;
  transform: rotate(225deg);
  transition: var(--dynamic-grid-transition-time);
  color: var(--color-dark-medium);
}

.project-title-arrow-opened {
  transform: rotate(315deg) !important;
}

#project-menu__projects-container {
  max-height: 0vh;
  overflow: hidden;
  transition: var(--dynamic-grid-transition-time);
  /* margin-bottom: var(--block-grid-gap); */
}

#project-menu__projects-container li {
  border-bottom: var(--box-border);
  padding: 0;
}

#project-menu__projects-container a:hover {
  text-decoration: none;
}
#project-menu__projects-container a:hover > li {
  font-size: var(--h3-size);
}

.projects-container-opened {
  max-height: 80vh !important;
}

#project-subsidebar {
  border: var(--box-border);
  padding: var(--inner-padding-large);
  height: min-content;
  margin-top: var(--block-grid-gap);
}

#project-main {
  padding-inline: var(--section-gutter);
  outline: var(--box-border);
  margin-left: 1px;
  transition: 300ms;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#project-container:has(#project-sidebar:hover) {
  grid-template-columns: 3fr 2fr;
}

#project-container:has(#project-main:hover) {
  grid-template-columns: 2fr 3fr;
}

#project-main figure {
  padding-top: var(--header-height);
  max-width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  margin: auto;
}

#project-main figure img {
  max-height: 90%;
  height: auto;
}
