/* Atkinson typeface, Braille Institute: https://brailleinstitute.org/freefont */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Noto serif */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* Root variables */
:root {
  font-family: "Atkinson Hyperlegible", Helvetica, sans-serif;

  /* color mixing*/
  --color-hue: 116;
  --color-saturation: 65%;
  --color-brightness-dark: 5%;
  --color-brightness-dark-medium: 15%;
  --color-brightness-medium: 50%;
  --color-brightness-medium-light: 75%;
  --color-brightness-light: 99%;
  --color-dark: hsl(
    var(--color-hue),
    var(--color-saturation),
    var(--color-brightness-dark)
  );
  --color-dark-medium: hsl(
    var(--color-hue),
    var(--color-saturation),
    var(--color-brightness-dark-medium)
  );
  --color-medium: hsl(
    var(--color-hue),
    var(--color-saturation),
    var(--color-brightness-medium)
  );
  --color-medium-light: hsl(
    var(--color-hue),
    var(--color-saturation),
    var(--color-brightness-medium-light)
  );
  --color-light: hsl(
    var(--color-hue),
    var(--color-saturation),
    var(--color-brightness-light)
  );

  /* --accent-color: #9aeb94; */
  --accent-color: var(--color-medium-light);

  /* color shading */
  --accent-color-box-shadow: 5px 6px 0px var(--accent-color);
  --accent-color-transition-duration: 0.1s;
  --text-color: var(--color-dark);
  --text-color-inverted: var(--color-light);
  --box-border: 1.5px solid var(--color-dark-medium);

  /* typography */
  --heading-font-family: "Noto Serif", Times, "Times New Roman", serif;

  /* sizing */
  font-size: 10px;
  /* p-size unless otherwise specified */
  --p-size: clamp(1rem, 0.956vw + 0.694rem, 2rem);
  --h1-size: clamp(5rem, 12.428vw + 1.023rem, 18rem);
  --h2-size: clamp(3rem, 2.868vw + 2.082rem, 6rem);
  --h3-size: clamp(2.5rem, 0.478vw + 2.347rem, 3rem);
  --h4-size: clamp(1rem, 0.956vw + 0.694rem, 2rem);
  --menu-font-size: clamp(1.5rem, 0.956vw + 1.194rem, 2.5rem);
  --button-font-size: clamp(1.5rem, 0.956vw + 1.194rem, 2.5rem);
  --figcaption-font-size: calc(var(--p-size) / 3 * 2);
  --sup-font-size: 0.5em;

  /* grids */
  --grid-1-col: repeat(1, minmax(0, 1fr));
  --grid-2-col: repeat(2, minmax(0, 1fr));
  --grid-2-col-sidebar: repeat(1, minmax(0, 2fr)) repeat(1, minmax(0, 3fr));
  --grid-2-col-sidebar-reverse: repeat(1, minmax(0, 3fr))
    repeat(1, minmax(0, 2fr));
  --grid-4-col: repeat(4, minmax(0, 1fr));

  /* spacing */
  --section-gutter: clamp(2rem, 2.868vw + 1.082rem, 5rem);
  --inline-grid-gap: clamp(2.5rem, 31.071vw + -7.443rem, 3.5rem);
  --block-grid-gap: clamp(3rem, 2.008vw + 2.358rem, 5.1rem);
  --inner-padding-large: 1.5em;
  --inner-padding: 0.5em;
  --button-padding: var(--inner-padding);
}

/* Global styling */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-moz-selection {
  background: var(--accent-color);
}

::selection {
  background: var(--accent-color);
}

html {
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

header {
}

footer {
  height: 20vh;
}

body {
  background: var(--color-light);
}

/* sections */
section {
  margin-inline: var(--section-gutter);
  margin-bottom: var(--section-gutter);
}

.section-inner-container {
  border-top: var(--box-border);
  padding-bottom: 5rem;
}

/* heading 1 */
h1 {
  color: var(--text-color);
  font-size: var(--h1-size);
  transition: text-shadow;
  transition-duration: var(--accent-color-transition-duration);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-weight: 400;
}
h1:hover {
  text-shadow: var(--accent-color-box-shadow);
}

/* heading 2 */
h2 {
  color: var(--text-color);
  font-size: var(--h2-size);
  font-weight: 400;
  /* font-family: var(--heading-font-family); */
  transition: text-shadow;
  transition-duration: var(--accent-color-transition-duration);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
h2:hover {
  text-shadow: var(--accent-color-box-shadow);
}

/* heading 3 */
h3 {
  color: var(--text-color);
  font-size: var(--h3-size);
  font-variant: small-caps;
}

/* heading 4 */
h4 {
  color: var(--text-color);
  font-size: var(--h4-size);
}

h5 {
  color: var(--text-color);
  font-size: var(--h5-size);
  font-weight: bold;
}

figcaption {
  color: var(--text-color);
  font-size: var(--figcaption-font-size);
}

/* link */
a {
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* paragraph */
p {
  color: var(--text-color);
  font-size: var(--p-size);
  padding-bottom: 1em;
  padding-right: 2em;
}

.rich-text {
  padding-bottom: 0px;
}

/* span */
span {
  background-color: var(--color-dark-medium);
  color: var(--color-light);
  padding-inline: 0.2em;
  transition: background-color;
  transition-duration: var(--accent-color-transition-duration);
  text-wrap: nowrap;
}
span a {
  color: var(--color-light);
}

span:hover {
  background-color: var(--color-medium-light);
}

sup {
  font-size: var(--sup-font-size);
  font-weight: normal;
  margin-left: var(--inner-padding);
}

.indent-list {
  font-size: var(--p-size);
  padding-left: 1em;
}

li {
  color: var(--text-color);
  list-style-type: none;
  font-size: var(--p-size);
  padding-bottom: var(--inner-padding);
  margin-right: var(--inner-padding-large);
  font-size: 90%;
}

code {
  color: var(--text-color);
  background-color: var(--color-medium-light);
  font-size: calc(var(--p-size) / 2);
  padding: var(--inner-padding);
  border-radius: 0.5em;
}

/* == Components == */

/* images */

.img-container {
  max-height: 80vh;
}

.img-container img {
  height: 100%;
}

/* GRIDS */

.grid-1-col {
  display: grid;
  grid-template-columns: var(--grid-1-col);
  gap: var(--inline-grid-gap);
}

.grid-2-col {
  display: grid;
  grid-template-columns: var(--grid-2-col);
  gap: var(--inline-grid-gap);
}

.grid-2-col-sidebar {
  display: grid;
  grid-template-columns: var(--grid-2-col-sidebar);
  gap: var(--inline-grid-gap);
}

.grid-2-col-sidebar-reverse {
  display: grid;
  grid-template-columns: var(--grid-2-col-sidebar-reverse);
  gap: var(--inline-grid-gap);
}

.grid-4-col {
  display: grid;
  grid-template-columns: var(--grid-4-col);
  gap: var(--inline-grid-gap);
}

.grid-5-col {
  display: grid;
  grid-template-columns: var(--grid-5-col);
  gap: var(--inline-grid-gap);
}

/* CTA */
/* button */
button {
  padding: var(--button-padding);
  text-decoration: none;
  transition: box-shadow;
  transition-duration: var(--accent-color-transition-duration);
  border-style: none;
  background: none;
  cursor: pointer;
  margin: auto;
  text-align: center;
  font-size: 90%;
  /* width: 100%; */
  border: var(--box-border);
  color: var(--text-color);
  font-size: clamp(1rem, 0.956vw + 0.694rem, 2rem);
}
button:hover {
  cursor: pointer;
  box-shadow: 5px 6px 0px 0 var(--accent-color);
}
/* form */
form {
  /* display: flex; */
}

form input {
  font-size: var(--p-size);
  border: none;
  border-bottom: var(--box-border);
  padding: 0;
  margin: 0;
  padding-bottom: var(--button-padding);
  background: none;
  transform: translateX(5%);
}

form input:focus {
  outline: none;
  border: none;
  border-bottom: var(--box-border);
}

/* menu */
menu {
}

menu a {
  text-decoration: none;
  font-size: var(--menu-font-size);
}

menu a:hover {
  text-decoration: none;
}

menu li {
  list-style-type: none;
  font-size: inherit;
  border-bottom: var(--box-border);
}

/* scrollbar */
::-webkit-scrollbar {
  display: none;
}

#scrollbar {
  position: fixed;
  width: clamp(0.2rem, 0.287vw + 0.108rem, 0.5rem);
  top: 0px;
  right: 2rem;
  bottom: 800px;
  background: var(--color-dark);
  color: var(--dark-color);
  font-size: var(--h2-size);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 65%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* == add-ons == */

.flex-centered-left-align {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sticky-sidebar {
  position: sticky;
  top: 0px;
}

/* == Media queries == */

/* Very Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  .grid-4-col {
    grid-template-columns: var(--grid-2-col);
  }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  .grid-2-col {
    grid-template-columns: var(--grid-1-col);
  }
  .grid-4-col {
    grid-template-columns: var(--grid-2-col);
  }
}

/*  Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .grid-2-col-sidebar {
    grid-template-columns: var(--grid-1-col);
  }
  .grid-4-col {
    grid-template-columns: var(--grid-1-col);
  }
}
